@using Kbit.ControlCentre.Session
@model Kbit.ControlCentre.Models.IndexCustomerProductListingVm

@{
    ViewBag.Title = "CustomerProductListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="normalheader  small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                   
                </div>
                <h2 class="font-light m-b-xs">
                    @Model.CustomName - Cost Estimates
                </h2>
                <small>Add, modify or delete Customer Cost Estimates</small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <div>
        </div>

        <div class="hpanel hyellow" style="">
            <div class="panel-heading">
                All Customer Cost Estimates
            </div>
            <div class="panel-body">

                <div class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive m-t">
                                <table id="customerProductListings" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Cost Estimate Name</th>
                                            <th>Date Time</th>
                                            <td>...</td>
                                            <td>...</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="action-panel-box">
    <div class="pull-right">
        @Html.ActionLink(" Back", "Index", "CostEstimate", new { }, new { @class = "btn btn-warning btn-sm button-150" })
    </div>
    <div class="pull-left">
        @Html.ActionLink("Add New", "LoadCreateCustomerCostEstimatesView"+"/"+@Model.CustomerId, "CostEstimate", new { }, new { @class = "btn btn-warning btn-sm button-150" })       
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".hide-menu").click();
            var renderedTable = $("#customerProductListings").DataTable({
                reponsive: false,
                ajax: {
                    url: '@Url.Action("GetCustomerCostEstimates", "CostEstimate")/@Model.CustomerId',
                    dataType: "json",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "productListingUniqueIdentifier"
                    },
                    {
                        data: "dateTime",
                        render: function(data, type, applicationModel) {
                            return new Date(data).toUTCString();
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, applicationModel) {
                            var loadEditCustomerCostEstimatesViewUrl =
                                '@Url.Action("LoadEditCustomerCostEstimatesView", "CostEstimate")?id=' +
                                    applicationModel.customerId +
                                    '&productListingNumber=' +
                                    applicationModel.productListingUniqueIdentifier;

                            return "<a href='" +
                                loadEditCustomerCostEstimatesViewUrl +
                                "' class='btn btn-default btn-xs'><i class='fa fa-paste'></i> View/Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, applicationModel) {
                            return "<button class='btn btn-default btn-xs deleteRowButton2' data-ref='" +
                                applicationModel.productListingUniqueIdentifier +
                                "' ><i class='fa fa-trash-o'></i> Delete</button>";
                        }
                    }
                ]
            });

            $('#customerProductListings').on('click',
                '.deleteRowButton2',
                function(e) {
                    var clickedButton = $(this);
                    var id = $(e.target).data("ref"); //Product listing Id
                    var customerId = '@Model.CustomerId';

                    swal({
                            title: "Are you sure?",
                            text: "Your will not be able to recover this record once it has been deleted!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, delete it",
                            cancelButtonText: "No, cancel",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function(isConfirm) {

                            if (isConfirm) {
                                $.ajax({
                                    url: '@Url.Action("DeleteCustomerEstimate", "CostEstimate")',
                                    contentType: 'application/json, charset=utf-8',
                                    type: "POST",
                                    data: JSON.stringify({ id: id, customerId: customerId }),
                                    success: function(result) {

                                        if (result.serviceResult != 1) {
                                            swal("Error", result.message, "error");
                                            console.log(result);
                                            return;
                                        }

                                        swal({
                                                title: "Deleted!",
                                                text: result.message,
                                                type: "success",
                                                confirmButtonColor: "#DD6B55",
                                                confirmButtonText: "Ok"
                                            },
                                            function(isConfirmInternal) {

                                                renderedTable.row(clickedButton.parents("tr")).remove().draw();
                                            });

                                    },
                                    error: function(error) {
                                        console.log(error);
                                        swal("Error", "Oops! Something went wrong! " + error.message, "error");
                                    }
                                });

                            } else {
                                swal("Cancelled", "", "error");
                            }
                        });
                });
        });
    </script>


}