@model Kbit.ControlCentre.Models.ViewEditProductVm

@{
    ViewBag.Title = "Create New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddBusinessProduct", "Product"))
{
    <div class="row">
        <div class="normalheader  small-header">
            <div class="hpanel">
                <div class="panel-body">
                    <div id="hbreadcrumb" class="pull-right">
                        @Html.HiddenFor(x => x.Id)
                        @Html.AntiForgeryToken()

                        <a href="@Url.Action("Index", "Product")/@Model.BusinessId" class="btn btn-warning"> Back</a>
                        <button type="submit" class="btn btn-success" id="submitButton"><i class="fa fa-check"></i> Submit</button>
                    </div>
                    <h2 class="font-light m-b-xs"></h2>
                    <small></small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Add or modify a Business Product
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-lg-9">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(x => x.ProductCode, new { @class = "kbit-form-label" })
                                    @Html.TextBoxFor(x => x.ProductCode, new { @class = "kbit-form-control" })
                                    @Html.ValidationMessageFor(x => x.ProductCode)
                                </div>
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(x => x.Description, new {@class = "kbit-form-label"})
                                    @Html.TextBoxFor(x => x.Description, new {@class = "kbit-form-control"})
                                    @Html.ValidationMessageFor(x => x.Description)
                                </div>
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(x => x.PricingClassification, new {@class = "kbit-form-label"})
                                    @Html.DropDownListFor(x => x.PricingClassification, new SelectList(Model.PricingClassifications), new {@class = "kbit-form-selectList-control"})
                                </div>
                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(x => x.Rate, new {@class = "kbit-form-label"})
                                    @Html.TextBoxFor(x => x.Rate, new {@class = "kbit-form-control"})
                                    @Html.ValidationMessageFor(x => x.Rate)
                                </div>

                                <div class="form-group col-lg-6">
                                    @Html.LabelFor(x => x.VatClassification, new {@class = "kbit-form-label"})
                                    @Html.DropDownListFor(x => x.VatClassification, new SelectList(Model.VatTypes), new {@class = "kbit-form-selectList-control"})
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right m-t-xs">
                    </div>
                    <div class="m-t-md">

                        <p>
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.HiddenFor(x => x.BusinessId, new { @class = "kbit-form-control" })
    </div>
}

<div class="SerivceCallResult">
    <div class="callResult">
        @Model.ServiceResult
    </div>
    <div class="callMessage">
        @Model.Message
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".hide-menu").click();
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            function showErrorMessage(error) {
                toastr.error(error);
            }

            function showSuccess(message) {
                toastr.success(message);
            }

            var result = $('.SerivceCallResult').find('.callResult').text().trim().toLowerCase();

            var message = $('.SerivceCallResult').find('.callMessage').text().trim();

            sweetAlertInitialize();

            if (result == 'true') {
                if (message.trim() != "") {
                    swal({
                        title: "Info",
                        text: message,
                        type: "success"
                    },
                        function () {
                            window.location.replace('@Url.Action("Index", "Product")');
                        });
                }
            } else {
                swal({
                    title: "Error",
                    text: message,
                    type: "error"
                });
            }
        });
    </script>
}