

@{
    ViewBag.Title = "Business Definition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="normalheader  small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    @Html.ActionLink("Add New", "New", "Business", new { }, new { @class = "btn btn-warning" })
                </div>
                <h2 class="font-light m-b-xs">
                    Business Definition
                </h2>
                <small>Add, modify or delete Business records.</small>
            </div>
        </div>
    </div> 
</div>


<div class="row">
    <div class="col-lg-12">
        <div>
          
        </div>
        <div class="hpanel hyellow" style="">
            <div class="panel-heading">
                <div class="pull-right">
                    @*@Html.ActionLink("Add New", "New", "Business", new { }, new { @class = "btn btn-warning btn-xs" })*@
                </div>
                Business Definition
            </div>
            <div class="panel-body">

                <div class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="customerMaster" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>TelephoneNumber</th>
                                            <th>CellphoneNumber</th>
                                            <th>Town/City</th>
                                            <td>Status</td>
                                            <td>...</td>
                                            <td>...</td>
                                            @*<td>...</td>*@
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>        
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@*<div class="SerivceCallResult">
    <div class="callResult">
        @Model.ServiceResult
    </div>
    <div class="callMessage">
        @Model.Message
    </div>
</div>*@

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            var renderedTable = $("#customerMaster").DataTable({
                reponsive: true,
                ajax: {
                    url: '@Url.Action("GetAll", "Business")',
                    dataType: "json",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "telephoneNumber"
                    },
                    {
                        data: "cellphoneNumber"
                    },
                    {
                        data: "townOrCity"
                    },
                    {
                        data: "isActive",
                        render: function(data) {
                            if (data == true) {
                                return "<span class='label label-success'>Active</span>";
                            } else {
                                return "<span class='label label-danger'>Inactive</span>";
                            }
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, business) {
                            return "<a href='@Url.Action("LoadBusinessUsersView", "Business")/" +
                                business.id +
                                "' class='btn btn-default btn-xs'><i class='fa fa-group'></i> Manage Users</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, business) {
                            return "<a href='@Url.Action("Edit", "Business")/" +
                                business.id +
                                "' class='btn btn-default btn-xs'><i class='fa fa-paste'></i> View/Edit</a>";
                        }
                    }
                    //{
                    //    data: "id",
                    //    render: function(data, type, business) {
                    //        return "<button class='btn btn-default btn-xs deleteRowButton2' data-ref='" +
                    //            business.id +
                    //            "' ><i class='fa fa-trash-o'></i> Delete</button>";
                    //    }
                    //}
                ]
            });


            $('#customerMaster').on('click',
                '.deleteRowButton2',
                function(e) {
                    var clickedButton = $(this);
                    var entityid = $(e.target).data("ref");

                    swal({
                            title: "Are you sure?",
                            text: "Your will not be able to recover this imaginary file!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, delete it",
                            cancelButtonText: "No, cancel",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    url: '@Url.Action("Delete", "Business")',
                                    contentType: 'application/json, charset=utf-8',
                                    type: "POST",
                                    data: JSON.stringify({ id: entityid }),
                                    success: function(result) {

                                        if (result.serviceResult != 1) {
                                            swal("Error", result.message, "error");
                                            console.log(result);
                                            return;
                                        }

                                        swal({
                                                title: "Deleted!",
                                                text: result.message,
                                                type: "success",
                                                confirmButtonColor: "#DD6B55",
                                                confirmButtonText: "Ok"
                                            },
                                            function(isConfirmInternal) {
                                                //if (isConfirmInternal) {
                                                //    renderedTable.row(clickedButton.parents("tr")).remove().draw();
                                                //    //location.reload();
                                                //}
                                                renderedTable.row(clickedButton.parents("tr")).remove().draw();
                                            });

                                    },
                                    error: function(error) {
                                        console.log(error);
                                        swal("Error", "Oops! Something went wrong! " + error.message, "error");
                                    }
                                });

                            } else {
                                swal("Cancelled", "", "error");
                            }
                        });
                });
        });
    </script>

}